* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100vw;
}

.container {
    max-width: 1000px;
}

/* kartica */
.kartica {
    background-image: url('../Slike/Brod/Brod-14-L.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 50px;
}

.kartica a {
    display: inline-block;
    text-decoration: none;
    color: none;
}

.kartica a img {
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 10%;
    display: inline-block;
}

.kartica a img {
    display: inline-block;
    border: 4px solid white;
    object-fit: cover;
}

.slike {
    position: absolute;
    bottom: 0;
    left: 0;
}