@font-face {
    font-family: knightFont;
    src: url(../css/font/vinque.ttf);
}

@font-face {
    font-family: knightFontlight;
    src: url(../css/font/BLKCHCRY.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    background-color: rgb(107, 46, 30);
    overflow-x: hidden;
}

.container {
    max-width: 1000px;
}

.landing {
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-image: url(../Slike/Brod/pozadina.jpg);
    background-size: cover;
    background-position: center right;

    position: relative;
}

.landingText {
    position: absolute;
    top: 2vmax;
    left: 2vmax;
    color: white;
    max-width: 50%;
}

.landingText h1 {
    font-size: 10vmax;
    font-family: knightFont;
}

.landingText p {
    font-size: 2.5vmax;
    font-family: knightFontlight;
}

.landing button {
    color: white;
    padding: 1vmax;
    cursor: pointer;
    position: absolute;
    bottom: 4vmax;
    left: 10%;
    font-size: 2vmax;
    background: none;
    border: 4px solid white;
    transition: transform 0.3s ease;
    font-family: knightFont;
}

.landing button:hover {
    transform: scale(1.5);
    transform-origin: center;
    transition: transform 0.7s ease;
}


.cards {
    background-color: white;
    width: 100%;
}

.card {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.card:nth-child(2n) {
    flex-direction: row-reverse;
}

.cardText {
    width: 50%;
    padding: 3vmax;
    overflow: hidden;

    box-shadow: inset 0px 0px 77px 2px rgba(0, 0, 0, 0.25);
    background-image: url(../images/oldscroll.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(83, 31, 0);
    text-shadow: 1px 1px 4px rgba(37, 14, 0, 0.5);
    font-family: knightFontlight;
}

.cardText p {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 3vmax;
}

.cardText p:nth-child(n+2) {
    transform: translateY(25%);
}

.cardImage {
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.cardImage img {
    object-fit: cover;
    object-position: 50% 50%;
    transition: transform .25s ease-in-out;
}

.cardImage img:hover {
    transform: scale(1.2);
    transition: transform 1s ease-in;
}

.introVideo {
    border: 7px solid rgb(83, 31, 0);
    margin-left: 5%;

    -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}