* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    background-color:rgb(107, 46, 30);
    overflow-x:hidden;
}

.container {
    max-width: 1000px;
}

.landing{
    width:100%;
    position:relative;
    min-height: 100vh;
    background-image: url(../Slike/Brod/pozadina.jpg);
    background-size: cover;
    background-position: center right;

    position:relative;
}

.landingText{
    position:absolute;
    top:2vmax;
    left:2vmax;
    color:white;
    max-width:50%;
}

.landingText h1{
    font-size:10vmax;
    font-family:knightFont;
}
.landingText p{
    font-size:2.5vmax;
}
.landing button{
    color:white;
    padding:1vmax;
    cursor:pointer;
    position:absolute;
    bottom:2vmax;
    left:10%;
    font-size:2vmax;
    background:none;
    border:4px solid white;
}


.cards{
    background-color:white;
    width:100%;
}

.card{
    width:100%;
    height:100vh;
    background-color:white;
    display:flex;
    justify-content: flex-end;
    align-items: stretch;
}

.card:nth-child(2n){
    flex-direction: row-reverse;
}

.cardText {
    width:50%;
    padding:3vmax;
    overflow:hidden;
}
.cardText p{
    width:100%;
    height:100%;
    display:block;
    font-size:3vmax;

 
    transform: translateY(25%); 
}
.cardImage{
    height:100%;
    width:50%;
    object-fit:cover;
}
